* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h1 {
    color: crimson;
}

p {
    color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}

p.paragraf {
    color:orange;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    line-height: 1.5cm;
}

span {
    text-decoration: underline;
    text-transform: uppercase;
}


div {
    border: 2px black;
    width: 450px;
    padding: 10px;
    margin-bottom: 5px;
}

div.box-1 {
    background-color: darksalmon;
}

div.box-2 {
    background-color: black;
    color: white;
}

div.box-3 {
    background-color: greenyellow;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    padding: 10px;
    width: auto;
}

.flex-container > div {
    padding: 10px;
    margin: 5px;
    width: 300px;
    height: auto;
    border: 2 px black;
    background-color: gainsboro;
}